.footer {
  padding-top: 20px;
  margin: 30px 20px 0 20px;
  border-top: 1px solid rgba(0,0,0,.0785);
}

.footer p {
  font-size: 11px;
  color: rgba(0,0,0,.44)
}

.footer p a {
  text-decoration: none;
  color: rgba(0,0,0,.44);
}
